# Ignore data files
data_raw/

# Ignore model files
bdd/

# Ignore test files
tests/.DS_Store

# Ignore all files in tests/
tests/*

# Ignore all files in src/Logs/Vic Logs/
src/Logs/Vic Logs/*

# Ignore all files in src/Logs/Logs/
donnés_pdf/*

# Ignore all .DS_Store files
.DS_Store